*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Segoe UI',sans-serif;
background:#f4f8fc;
color:#333;
}

/* Header */

header{
background:#003366;
color:white;
padding:20px 60px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
display:flex;
align-items:center;
gap:15px;
}

.logo i{
font-size:40px;
}

.logo p{
font-size:12px;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:500;
}

nav a:hover{
color:#99ccff;
}

/* Hero Section */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:60px;
background:white;
}

.hero-content{
width:50%;
}

.hero-content h1{
font-size:55px;
color:#003366;
margin-bottom:20px;
}

.hero-content p{
font-size:18px;
line-height:1.8;
margin-bottom:25px;
}

.hero-content button{
background:#003366;
color:white;
padding:15px 30px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
}

.hero-content button:hover{
background:#0055aa;
}

.hero-image img{
width:800px;
height:220px;
object-fit: cover;
}

/* Features */

.features{
padding:60px;
background:#eef5ff;
}

.features h2{
text-align:center;
margin-bottom:40px;
color:#003366;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.feature-card{
background:white;
padding:30px;
border-radius:15px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.feature-card i{
font-size:40px;
color:#003366;
margin-bottom:15px;
}

.feature-card h3{
margin-bottom:10px;
}

/* Analysis */

.analysis-section{
padding:60px;
background:#003366;
color:white;
}

.analysis-section h2{
margin-bottom:20px;
}

textarea{
width:100%;
height:250px;
padding:15px;
font-size:16px;
border:none;
border-radius:10px;
}

.analyze-btn{
margin-top:20px;
padding:15px 30px;
background:white;
color:#003366;
border:none;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

.analyze-btn:hover{
background:#e0ecff;
}

/* Results */

#results{
padding:50px;
background:white;
}

#results h2{
color:#003366;
margin-bottom:20px;
}

.result-card{
background:#eef5ff;
padding:20px;
margin-bottom:15px;
border-radius:10px;
}

/* About */

.about{
padding:60px;
background:#f8fbff;
}

.about h2{
color:#003366;
margin-bottom:20px;
}

/* Footer */

footer{
background:#003366;
color:white;
padding:40px;
display:flex;
justify-content:space-around;
}

.footer-section h3{
margin-bottom:15px;
}

.footer-section ul{
list-style:none;
}

.footer-section li{
margin-bottom:8px;
}

/* Responsive */

@media(max-width:900px){

header{
flex-direction:column;
}

nav{
margin-top:20px;
}

.hero{
flex-direction:column;
text-align:center;
}

.hero-content{
width:100%;
}

.feature-grid{
grid-template-columns:repeat(2,1fr);
}

footer{
flex-direction:column;
text-align:center;
gap:20px;
}
}

